.form-horizontal{:role => "form"}
  = form_for @project do |f|
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h3#myModalLabel.modal-title{:style => "text-align:center; color:#424A57"} Project Form
        .modal-body
          .control-group
            = f.label(:project_title, :class => "control-label ")
            .controls
              = f.text_field :project_title
          .control-group
            = f.label(:created_by, :class => "control-label")
            .controls
              = f.text_field :project_created_by, :value => "#{current_user.first_name}", :readonly => true
          .control-group
            = f.label(:project_details, :class => "control-label")
            .controls
              = f.text_area :project_details, :rows => 5, :id => "pro_details"
          .control-group
            = f.label(:starts_at, :class => "control-label")
            .controls
              = f.text_field :project_starts_on, format: :long
              %td#startDate 2012-02-06
              #alert.alert.alert-error{style: "display: block;"}
          .control-group
            = f.label(:ends_at, :class => "control-label")
            .controls
              = f.text_field :project_ends_on, format: :long
              %td#endDate 2012-02-25
              #alert.alert.alert-error{style: "display: block;"}
              
          .control-group
            = f.label(:status, :class => "control-label")
            .controls.bootstrap-switch.bootstrap-switch-id-animated-switch.bootstrap-switch-on.bootstrap-switch-animate
              %div
                %input#animated-switch{checked: "checked", "data-animated" => "true", type: "checkbox"}
                =# f.check_box :status, collection: %w[A B]
                // %span.bootstrap-switch-handle-on.bootstrap-switch-primary ON
                // %label{for: "animated-switch"} 
                // %span.bootstrap-switch-handle-off.bootstrap-switch-default OFF
          .control-group
            = f.label(:invite_people, :class => "control-label")
            .controls
              = f.select :invite_people, @users.reject {|user| user == current_user}.map(&:first_name), type: "checkbox"
          .modal-footer{:style => "text-align:center"}
            %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
            = f.submit "Create Project", :class => "btn btn-primary"

:javascript
  $(document).ready(function(){
    var startDate = new Date(2012,1,20);
    var endDate = new Date(2012,1,25);
    $('#project_project_starts_on').datepicker({format: 'yyyy-mm-dd'})
      .on('changeDate', function(ev){
        if (ev.date.valueOf() > endDate.valueOf()){
          $('#alert').show().find('strong').text('The start date can not be greater then the end date');
        } else {
          $('#alert').hide();
          startDate = new Date(ev.date);
          $('#startDate').text($('#project_project_starts_on').data('date'));
        }
        $('#project_project_starts_on').datepicker('hide').val();
      });
    $('#project_project_ends_on').datepicker({format: 'yyyy-mm-dd'})
      .on('changeDate', function(ev){
        if (ev.date.valueOf() < startDate.valueOf()){
          $('#alert').show().find('strong').text('The end date can not be less then the start date');
        } else {
          $('#alert').hide();
          endDate = new Date(ev.date);
          $('#endDate').text($('#project_project_ends_on').data('date'));
        }
        $('#project_project_ends_on').datepicker('hide').val();
      });
    // Bootstrap switch button //
    $('#animated-switch').bootstrapSwitch('animate', true);
  });

  $(function(){
    $("#project_invite_people").multiselect({
      show: ["bounce", 200],
      hide: ["explode", 1000]
    });
  });
  